# Core ML
tensorflow==2.16.1
# tensorflow-metal==1.2.0   # <- uncomment on Apple Silicon if you want GPU

numpy==1.26.4
h5py==3.14.0
scikit-learn==1.7.2
scipy==1.16.2

# CV & plotting
opencv-python==4.11.0.86
matplotlib==3.10.6
pillow==10.4.0

# App/UI
gradio==5.47.1

# Notebooks (optional)
jupyter==1.1.1
